header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 100px;
}

nav ul{
  display: flex;
  align-items: center;
  gap: 40px;

  font-size: 18px;
  font-weight: bold;
}

.logo2{
  
  position: fixed;
  right: 480px;

  margin-right: 530px;
  padding-bottom: 2px;
  
}

li:hover{
  border: 1px solid;
  background-color: red;
  border-radius: 10px;

  padding: 5px;
}