main{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 90px;
}

section{
  width: 630px;
  text-align: center;
  padding-right: 50px;
}

main h1{
  font-weight: 500;
  font-size: 55px;
  line-height: 45px;
  
}

.class-3{
  color: red;
  font-weight: 700;
  font-size: 55px;
}

main p{
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;

  padding-bottom: 35px;
}

main p span{
  font-size: 22px;
  color: red;
}

button{
  width: 250px;
  height: 60px;

  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 16px;

  background-color: red;

  border: none;
  border-radius: 5px;
  padding: 10px 20px 10px;

  cursor: pointer;

}

button:hover{
  background-color: #c49c23;
}


